.progress {
  position: absolute;
  right: 0;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__bar {
    fill: $white;
  }

  &__bg {
    fill: rgba($black, 0.1);
  }
}

.disabled {
  pointer-events: none;
  opacity: 0;
}
