.interface {
  position: relative;
  z-index: 4;

  .panel {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    * {
      pointer-events: all !important;
    }
  }
}
