.ITData {
  height: 50vh;
  width: 100vw;
  padding: 1rem 2.5rem;

  &__wrapper {
    transition: 0.75s ease-in-out;

    &--hidden {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-5rem);
    }
  }

  h1,
  h2 {
    margin: 0;
    color: $primary;
  }

  &__date {
    font-size: 10rem;
  }

  &__title {
    font-size: 2.5rem;
  }
}
