button {
  padding: 15px 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  pointer-events: all;
  font-family: $azeret;
  color: $secondary;
  text-transform: uppercase;
  background-image: url('/assets/img/btnBg.svg');
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
