.next {
  position: fixed;
  left: 50%;
  transition: 1s cubic-bezier(0.4, -1, 0.4, 2);
  cursor: pointer;
  pointer-events: all;

  &.next {
    top: 0;
    transform: translate(-50%, -100%);
    opacity: 0;
  }

  &.active {
    transform: translate(-50%, 0) !important;
    opacity: 1 !important;
  }
}
