.canvas {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh !important;
  width: 100vw !important;
}

#webgl-css-wrapper {
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.start__btn {
  transition: 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 17rem;
  z-index: 2;
  will-change: opacity, pointer-events, visibility;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.d-none {
  display: none !important;
}

.webGlCSS {
  will-change: opacity;
  transition: 0.35s ease-in-out;

  &--disabled {
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-in-out;
  }
}
