@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: light;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSansExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/OutfitExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Azeret Mono';
  src: url('../fonts/AzeretMonoRegular.ttf') format('truetype');
  font-weight: normal;
}
