.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  color: white;

  &__scroll {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
