.start {
  position: fixed;
  z-index: 100;
  background-color: $secondary;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  font-family: $lato;
  font-weight: 600;

  p {
    user-select: none;
  }

  &__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    opacity: 0;
    user-select: none;
  }

  span{
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    color: #41545A;
    font-size: .9rem;
    font-family: $lato;
    font-weight: 600;
    user-select: none;
  }

  &__content {
    color: $primary;
    text-align: justify;
    line-height: 1.5;
    opacity: 0;

    & h1 {
      text-transform: uppercase;
      text-align: center;
      // font-family: $open-sans;
      font-size: 6rem;
      font-style: italic;
      line-height: 3rem;
    }
  }

  &__footer {
    color: $primary;
    opacity: 0;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      padding-top: 4.5rem;
    }
  }
}
